body{
    background-color: white;
    font-family: 'Calistoga', cursive;
    font-size:16px;
    justify-content: center;
    max-height: 100em;
}

#myNav{
    background-color:rgb(51, 48, 48);
    color:white;
    font-family: 'Calistoga', cursive;
    justify-content: center;
}
#myLogo{
    align-content: center;
    background-color: rgb(51, 48, 48);
    color: white;
    margin-bottom:0;
    padding:15px;
    text-align: center;
}

.card{
    background-color:rgb(51, 48, 48);
    border-radius: 8px;
    color:white;
    display: flex;
    flex-direction: column;
    max-height:500px;
    justify-content: left;
    margin: 15px;;
    padding:8px;
    font-family:  serif;
    max-width:350px;
    word-wrap: normal;
}
.card-body{
    font-family: 'Calistoga', cursive;
    font-size:14px;
}
.card-head{
    font-family: 'Calistoga', cursive;
    font-size:30px;
    text-align: center;
    margin:5px;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:10px;
    padding:10px;
    position: relative;
    top:100px;
}

h1{
    font-size:30px;
}

h2{
    font-size:25px;
}
img{
    border: 2px solid black;
    border-radius: 5px;
    height: 150px;
    float: center;
    width: 150px;
}