<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Calistoga&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="templatestyles.css">

    <title>My Team Builder</title>
</head>
    
    <body>
    
     <div class="header">        
        <h1 class="logo">My Team</h1>
        <a href="./main.html">Main</a>
        <a href="./engineer.html">Engineer</a>
        <a href="./intern.html">Interns</a>
        <a href="./manager.html">Managers</a>
    </div>    

    <div class="container">
            <div class="card">
                <div class="card-head">
                <h1>Ellen White<h1>
                <h2>Engineer</h2>
                <img src="stockPhoto.jpg">
                </div>

                <div class="card-body">
                   <p>GitHub UserName</p> 
                   <p>Email Address</p>
                   <p>Id Number: 1234</p>
                </div>

            </div>
    </div>

    </body>
</html>